@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/Outfit-VariableFont_wght.ttf);
}

html, body{
  height: 100%;
  width: 100%;
  font-family: "Outfit";
}


/* background-color: #f4ebe2; */